<!--File name: Assignment1-Comp229004-301159366, Student’s Name: Fouad Ouardi, StudentID: 301159366, and Date 2022/June/04 --> 
    <footer style="position: fixed; left: 0; bottom: 0;width: 100%;text-align: right;border: 3px solid grey; border-right: none; border-left: none; border-bottom: none;">
        <p style="padding:0.5em 0.5em 0 0 ;">@2022 Fouad Ouardi COMP229-004 301159366</p>    
    </footer>


</body>
</html>