<!--File name: Assignment1-Comp229004-301159366, Student’s Name: Fouad Ouardi, StudentID: 301159366, and Date 2022/June/04 --> 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' />   -->
</head>
<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-md bg-light navbar-light" style="border: 3px solid grey; border-right: none; border-left: none; border-top: none;">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#" style="margin-left:40px ;">
      <img src="/images/logo.png" alt="logo" style="width:40px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/"></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fa fa-id-badge"></i> About me </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects"><i class="fas fa-tasks"></i> Projects </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services"><i class="fas fa-users"></i> Services </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"><i class="fa fa-envelope-square"></i> Contact me </a>
      </li> 
    </ul>
  </nav>