<%/* File name: Assignment1-Comp229004-301159366, Student’s Name: Fouad Ouardi, StudentID: 301159366, and Date 2022/June/04 */%>
<% include partials/header.ejs %>
<link rel="stylesheet" href="\stylesheets\about.css" />
  
  <div class="container">
    <div> 
        <% include partials/content.ejs %>
      <p><%= about %>! </p>
      <p>Resume <a href="/images/Fouad-Ouardi.pdf">PDF</a>.</p>
      <img src="/images/image.jpeg" class="image">
    </div>

  </div>

<% include partials/footer.ejs %>