<%/* File name: Assignment2-Comp229004-301159366, Students Name: Fouad Ouardi, StudentID: 301159366, and Date 2022/June/04 */%>
<link rel="stylesheet" href="\stylesheets\Home.css" />
<script src='\javascripts\Home.js'></script>
<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <% include partials/content.ejs %>
      <a style="text-decoration: none; color: black;" href="" class="typewrite" data-period="2000" data-type='["An aspiring software engineer trying their best to become one of the best", "A student from Centennial college", "A young fellow who enjoys messing around with CSS even though templates are the way to go","This is Fouad Ouardi"  ]'>
      </a>
    </div>
  </div>

<% include partials/footer.ejs %>