<%/* File name: Assignment1-Comp229004-301159366, Student’s Name: Fouad Ouardi, StudentID: 301159366, and Date 2022/June/04 */%>
<% include partials/header.ejs %>
<link rel="stylesheet" href="\stylesheets\projects.css" />
  <div class="container">
    <div> 
        <% include partials/content.ejs %>
        <div class="wrap">
          <a style="    color: black;text-decoration: none;" class="card" href="http://studentweb.cencol.ca/fouardi/Discord/">
              <img src="\images\project1.png" class="image" href="http://studentweb.cencol.ca/fouardi/Discord/">
          <h1 class="name">Project 1</h1><br>
          <p class="Description">Description: &nbsp;&nbsp;&nbsp; This is an individual project where I made a website that's completely made with Css with interesting visuals</p><br>
         
          </a>
  <a style="    color: black;text-decoration: none;" class="card" href="http://studentweb.cencol.ca/fouardi/Assignment6/">
              <img src="\images\project2.png" class="image" href="http://studentweb.cencol.ca/fouardi/Assignment6/">
          <h1 class="name">Project 2</h1><br>
          <p class="Description">Description: &nbsp;&nbsp;&nbsp; This is a previous assignment that relays information about the weather in a certain city and it was made to be responsive</p><br>
         
  </a>
         
          </div>
      </div>
    </div>
  </div>

<% include partials/footer.ejs %>