<%/* File name: Assignment1-Comp229004-301159366, Student’s Name: Fouad Ouardi, StudentID: 301159366, and Date 2022/June/04 */%>
<% include partials/header.ejs %>
  
  <div class="container">
    <div> 
        <% include partials/content.ejs %>
        <p>These are The Programming languages and Framworks I use:</p>
        <ul><li>Html5</li>
          <li>Css</li>
          <li>Javascript</li>
          <li>Node Js</li>
          <li>C#</li>
          <li>Java</li>
          <li>Python</li>
          <li>MySQL</li>
        </ul>
        <p>These are some of the areas of knowledge that I'm able to assist with:</p>
        <li>Software methodologies</li>
        <li>Database relation</li>
        <li>Data Structure</li>
        <li>Computer Hardware</li>
      
    </div>
  </div>

<% include partials/footer.ejs %>