<%/* File name: Assignment2-Comp229004-301159366, Student’s Name: Fouad Ouardi, StudentID: 301159366, and Date 2022/June/04 */%>
<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome <%= userName %> to <%= title %> page</p>

<% include partials/footer.ejs %>